{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>
<body>
  <div class="background-shapes">
    <div class="svg1">
      <svg  width="500" height="895" viewBox="0 0 821 611" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M219.512 -233.946C-12.7302 -149.417 -132.475 107.378 -47.946 339.62C-2.7568 463.777 259.396 251.791 372.979 297.623C471.861 337.522 417.534 646.419 525.62 607.079C757.863 522.55 877.608 265.755 793.079 33.5125C708.55 -198.73 451.755 -318.475 219.512 -233.946Z" fill="#568AFF"/>
      </svg>
      <svg width="510" height="895" viewBox="0 0 720 585" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M272.5 895C519.647 895 720 694.647 720 447.5C720 315.376 401.153 424.916 310.095 343C230.823 271.687 387.523 0 272.5 0C25.3526 0 -175 200.353 -175 447.5C-175 694.647 25.3526 895 272.5 895Z" fill="#568AFF"/>
      </svg>
    </div>
    <div class="svg2">
  
      <svg width="1024" height="1024" viewBox="0 0 584 396" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.541829" fill-rule="evenodd" clip-rule="evenodd" d="M8.47073 -208.915C-41.4949 74.4538 147.716 344.675 431.085 394.64C582.573 421.352 521.44 33.6299 633.77 -54.2125C731.561 -130.685 1011.39 103.907 1034.64 -27.9738C1084.61 -311.343 895.395 -581.564 612.026 -631.529C328.657 -681.495 58.4363 -492.284 8.47073 -208.915Z" fill="#568AFF"/>
      </svg>
      <svg width="1150" height="1150" viewBox="0 0 575 706" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1141.38 667.96C1196.52 355.221 987.699 56.992 674.96 1.84762C507.77 -27.6324 575.24 400.276 451.267 497.223C343.34 581.622 34.5121 322.715 8.8477 468.264C-46.2967 781.004 162.525 1079.23 475.264 1134.38C788.004 1189.52 1086.23 980.699 1141.38 667.96Z" fill="#568AFF"/>
      </svg>
    </div>
  
      
    </div>  </div>
  <div class="login-container">
    <div class="login-box">
      <h2>Create an Account</h2>
      <p>Create a account to continue</p>
      <form>
        <label for="email">Email address:</label>
        <input type="email" id="email" placeholder="Hossam@gmail.com">
        <label for="username">Username</label>
        <input type="username" id="username" placeholder="username">
        
        <label class="password" for="password">Password:           <a href="forget.html">Forgot Password?</a>
        </label> 
        <input type="password" id="password" placeholder="******">
        
        <div class="remember-forgot">
          <label>
            <input type="checkbox"> I accept terms and conditions
          </label>
        </div>
        <button type="submit">Login</button>
      </form>
      <div class="signup">
        <p>Already have an account?  <a href="login.html">Login</a></p>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const forms = document.querySelectorAll("form");
      const loginBoxes = document.querySelectorAll(".login-box");

      loginBoxes.forEach(box => {
        box.classList.add("show"); 
      });

      forms.forEach(form => {
        form.addEventListener("submit", function(event) {
          event.preventDefault();

          form.classList.add("fade-out");

          setTimeout(() => {
            form.classList.remove("fade-out");
            alert("Form submitted!");
          }, 1000);
        });
      });
    });
  </script>
</body>
</html>
